/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    width: 99%;
    font-size: 0.9rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    width: 100% !important;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input {
    /*max-width: 480px;*/
    /*position: center;*/
    border: 1px solid rgb(96, 119, 165);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    padding: 5px;
}

textarea {
    /*max-width: 480px;*/
    border: 1px solid rgb(96, 119, 165);
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
    /*box-sizing: border-box;*/
    outline: none;
    padding: 5px;
}

td {
    padding-left: 8px
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.container {
    width: 100%;
    max-width: 1920px;
    margin-left: 10px;
    margin-right: 0px;
}

.jumbotron {
    background-color: aliceblue;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    top: -50px;
    float:left;
    color: rgb(0, 124, 158);
    height: 20px;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgb(150, 189, 200);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(165, 211, 224) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(165, 211, 224) 100%);
    border-width: 0px;
    border-radius: 6px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgb(95, 160, 178);
    background-color: rgb(150, 189, 200);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(165, 211, 224) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(165, 211, 224) 100%);
}

        #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
        #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
            color: rgb(77, 130, 144);
            background-color: rgba(0, 124, 158, 1);
            background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(165, 211, 224) 100%);
            background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(165, 211, 224) 100%);
        }

    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
        color: rgb(69, 117, 130);
        background-color: rgba(255, 255, 255, 1);
    }

    #custom-bootstrap-menu.navbar-default .navbar-toggle {
        border-color: #ffffff;
    }

        #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
        #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
            background-color: #ffffff;
        }

        #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

        #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
        #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
            background-color: rgb(129, 156, 163);
        }

    #custom-bootstrap-menu.navbar-default .navbar-text {
        color: rgb(49, 149, 177);
    }

.btn-xs2 {
    position: relative;
    top: -5px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.btn-pnl {
    position: relative;
    top: -2px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 6px;
    height: 27px;
}

.btn-info {
    position: relative;
    top: 1px;
    border-radius: 6px;
    left: 1px;
    display: inline-block;
    padding: 2px;
}

.inlineBlock {
    position: relative;
    display: inline-block;
    left: 20px;
}
.btn-default {
    background-color: rgb(253, 254, 255);
    padding: 5px 5px;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(220,240,255);
    font-size: 14px;
}

.btn-default:hover,
.btn-default:focus {
    background-color: rgb(236, 244, 247);
    box-shadow: 0px 0px 5px rgb(172, 223, 245);
}

.btn-small {
    background-color: rgb(245, 250, 255);
    position: relative;
    left: -2px;
    top: 2px;
    padding: 2px 5px;
    margin: 0px;
    font-size: 9pt;
} 

.btn-small:hover,
.btn.small:focus {
    background-color: rgb(216, 236, 245);
    box-shadow: 0px 0px 5px rgb(116, 201, 239);
}

.btn-header {
   position: relative;
   top: 2px;
   left: 2px;
   padding: 0px 10px 0px 10px;
}

.chkChoice input {
    position: relative;
    left: 20px;
    margin-left: -20px;
}

.chkChoice td {
    padding-left: 20px;
}

.chkChoice label {
    position: relative;
    left: 20px;
    padding-left: 5px;
    font-weight: normal;
}

.chkSingle {
    position: relative;
    top: -16px;
    left: 130px;
}
.chkSingle label{
    position: relative;
    left: -110px;
    top: -2px;
    font-style: normal;
}
.btn-default {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-right {
    position: relative;
    right: 9px;
}

.inlineBlock {
    position: relative;
    height: 410px !important;
    width: 460px;
    float: left;
    padding: 10px;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.1;
}

.modalPopup {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: -1;
    position: relative;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid rgba(179,189,229,1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: normal;
    font-size: 13px;
    color: rgba(0,0,0,1);
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(232,238,249,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(232,238,249,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(232,238,249,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.4);
    box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.4);
    width: 500px;
    height: 400px;
    display: block;
}

.modalPopupLarge {
    width: 1000px;
    height: 700px;
    top: 8% !important;
}

.modalHeader {
    position: relative;
    top: -21px;
    left: -11px;
    width: 512px;
    z-index: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px;
    border: 1px solid rgba(149,158,193,1);
    font: normal 13px/1 "Lucida Console", Monaco, monospace;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgba(209,229,249,1) 0, rgba(209,229,249,1) 1%, rgba(172,189,224,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(209,229,249,1) 0, rgba(209,229,249,1) 1%, rgba(172,189,224,1) 100%);
    background: linear-gradient(180deg, rgba(209,229,249,1) 0, rgba(209,229,249,1) 1%, rgba(172,189,224,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.modalHeaderLarge {
    width: 1012px;
}

.modalHeaderButton {
    position: absolute;
    left: 490px;
    top: 2px;
    width: 22px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 1px;
    border: 1px solid rgba(149,158,193,1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 12px/1 "Lucida Console", Monaco, monospace;
    color: rgba(100,100,150,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(187,202,232,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(187,202,232,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(187,202,232,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.modalHeaderButtonLarge {
    left: 992px;
    top: 2px;
}

.styled-select {
    width: 308px;
    height: 23px;
    overflow: hidden;
    background: url(arrow_xs.png) no-repeat 225px #FFF;
    border: 1px solid #ccc;
}

.styled-select select {
    background: transparent;
    width: 309px;
    padding: 4px 7px 4px 0px;
/*    padding-right: 4px;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-top: 0px; */
    font-size: 12px;
    line-height: 1;
    border: none;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

/* IE10+ */
.SearchBox::-ms-clear {
    display: none;
}

/* Chrome */
.SearchBox::-webkit-search-decoration,
.SearchBox::-webkit-search-cancel-button,
.SearchBox::-webkit-search-results-button,
.SearchBox::-webkit-search-results-decoration {
    display: none;
}

/*@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: left;
    }*/
/*}*/

.nav-item {
    background: transparent;
    color:cadetblue !important;
    padding-left: 10px;
    padding-right: 10px;
    top:5px;
    position:relative;
}

.imagebutton {
    padding: 3px;
    top: 5px;
    position: relative;
    width: 24px !important;
}

.FixedHeader {
    position: absolute;
}     

.navbar-right {
    position: relative;
    top: -5px;
    left: 10px;

}

.ajax__html_editor_extender_texteditor {
    resize: none;
}
.lblValue {
    width: 20px !important;
    display: inline-block;
    text-align: left;
}

.txtValue {
    padding: 3px;
    margin-top: 3px;
    margin-left: 30px;
    width: 150px !important;
    /*position: absolute;*/
    /*top: 1px;*/
    /*height: 35px;*/
    /*padding: 2px;*/
    /*margin: 2px;*/
    /*display: block;*/
}

.txtValue2 {
    padding: 3px;
    margin-top: 13px;
    margin-left: 10px;
    width: 220px !important;
}

.DropDown {
    position: relative;
    top: 2px;
    border-radius: 4px;
    border-width: 1px;
    padding-left: 2px;
    min-width: 100px;
    height: 20px;
}
